# Bloquear acceso web directo a esta carpeta.
# Los archivos aquí son solo para uso del servidor.
Order Deny,Allow
Deny from all

# Apache 2.4+
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
